AIRFLOWUID=501
#Do not string these variables, they will in news_sentiment.py
API_KEY= <Your NYT API Key>
DATABASE_NAME= <Your Postgres DB Name>
DATABASE_USER= <Your Postgres DB User>
DATABASE_PASS= <Your Postgres DB Password>
